.sectionLogin {
  .xForm {
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 5px;
      pointer-events: none;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 15%, transparent 50%, transparent 85%, rgba(255, 255, 255, 0.3) 100%);
    }
    .frmContent {
      .frmLogin {
        .txtInput {
          box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
          outline: 0;
          border: 0;
          border-radius: 5px;
          padding: 5px;
          width: 100%;
          background-color: transparent;
        }
        .iconLogin {
          top: 15px;
          right: 15px;
          font-size: 20px;
          position: absolute;
        }
        .btnLogin {
          width: 130px;
          height: 40px;
          background: rgba(255, 255, 255, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 20px;
          letter-spacing: 2px;
          transition: 0.5s;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          font-weight: bold;
          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
            transform: skewX(45deg) translateX(0);
            transition: transform 0.5s;
          }
          &:hover {
            letter-spacing: 5px;
            &::before {
              transform: skewX(45deg) translateX(200%);
            }
          }
        }
      }
    }
  }
}
nav {
  ul {
    li {
      line-height: 60px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      button {
        font-size: 16px;
        padding: 0 20px;
        &:hover,
        &.active {
          color: cyan;
          background-color: #1e1e1e;
          border-left-color: cyan;
        }
      }
    }
  }
}
.notify-container {
  // begin
  opacity: 0;
  transition-property: opacity;
  transition-duration: 4000s;
  // end
}
.notify-container.el-show {
  opacity: 1;
}
